* {
    box-sizing: border-box;
   }
  
  body {
    background-color: #eee;
    color: #2d2d35;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
  }
  
  main {    
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

.blok_niv {
    max-width: 70ch;
    min-width: 50ch;
}
